@model Recipe
@{
    Layout = "_MyWebLayout";
}

<div class="row">
    <div class="col-md-12">
        <h1>Recipes</h1>
        <hr />
        <div class="alert alert-success" style="text-align:center">
            <i class="fa fa-exclamation-circle"></i>&nbsp;Recipe has been successfully added.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"><a asp-action="Index" class="btn btn-primary anchorButton">Back to Home</a></div>
    <div class="col-md-4"><a asp-action="AddRecipe" class="btn btn-primary anchorButton">Add New Recipe</a></div>
    <div class="col-md-4"><a asp-action="RecipeList" class="btn btn-primary anchorButton">Recipe List</a></div>
</div>
